.container {
    margin: 2rem;
    height: 500px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: auto;
    gap: 10px;
}

.box-top {
    grid-column: 1;
    grid-row: 1;
    text-align: center;
    align-content: center;
}

.box-bottom {
    grid-column: 1;
    grid-row: 2;
}

.box-rigth {
    grid-column: 2;
    grid-row: 1 / 3;
    text-align: center;
    align-content: center;
}

.content {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: auto;
    height: 100%;
    gap: 5px;
}

.content-left {
    grid-column: 1 / 4;
    grid-row: 1;
    text-align: center;
    align-content: center;
}

.content-rigth {
    padding: 10px;
    grid-column: 3;
    grid-row: 1;
}